[Unit]
Description=Verklikker
After=rabbitmq-server.service
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=python3 /home/ubuntu/verklikker/master.py

[Install]
WantedBy=multi-user.target
