[Unit]
Description = Verklikker Service
After=rabbitmq-server.service

[Service]
User=ubuntu
ExecStart=python3 /home/ubuntu/verklikker/main.py

[Install]
WantedBy = multi-user.target
